html, body, .container, .row {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
}

body {
  color: white;
  background-color: white;
}

.uppercase {
  text-transform: uppercase;
}

.align-center {
  text-align: center;
}

#tps-logo {
  margin: 0px;
  padding: 20px;
  float: left;
  display: inline-block;
}

.break-word {
  word-wrap: break-word;
}

/* ------ */
/* Navbar */
/* ------ */
#anit-navbar {
  background-color: #4a4a4a;
  padding: 10px;
  margin: 0px;
  float: left;
  display: block;
  width: 100%;
  text-align: center;
}

#anit-navbar a {
  font-size: 1.2em;
  margin: 10px;
  color: white;
  text-decoration: none;
}

#anit-navbar .copyright {
  font-size: .75em;
  color: #9D9D9D;
}
a#navbar-about:hover {
  color: #E2C46F;
}

a#navbar-team:hover {
  color: #a9c2c0;
}

a#navbar-tilt:hover {
  color: #d18b6b;
}

a#navbar-scihive:hover {
  color: #bdca3a;
}

a#navbar-archive:hover {
  color: #faa22c;
}

a#navbar-sys:hover {
  color: #a9c2c0;
}

a#navbar-beeclub:hover {
  color: #ebc477;
}


/* ---------------- */
/* Major Containers */
/* ---------------- */
#hexagon-column {
  margin: 0px;
  padding: 0px;
  float: left;
  display: inline-block;
}

#tabloid-container, #jointheeffort-container {
  margin: 0px;
  padding: 0px;
  float: left;
}

/* ------- */
/* Content */
/* ------- */

#content-column {
  padding: 10px;
  float: left;
  display: inline-block;
  /* border: 1px solid blue; */
}

.content {
  position: relative;
  width: 100%;
  padding-bottom: 10px;
}

.content-row {
  margin: 12px 0px;
}

.content-stripe {
  background-color: white;
  margin: 0px;
  padding: 5px 10px;
  color: black;
  display: block;
  font-weight: 600;
}

.content-copy {
  margin: 10px 0px;
  padding: 0px 10px;
}

.content-tabloid-button {
  text-align: center;
  padding: 15px;
}

/* ------- */
/* Stripes */
/* ------- */
.stripe-tilt {
  color: #d18b6b;
}

.stripe-shareyourscience {
  color: #a9c2c0;
}

.stripe-beeclub {
  color: #ebc477;
  /*text-transform: uppercase;*/
}

.stripe-scihive {
  color: #bdca3a;
}

.stripe-archive {
  color: #faa22c;
}

/* ---------------- */
/* Content Headings */
/* ---------------- */
.content-heading .heading-main{
  font-size: 3em;
  font-stretch: condensed;
  margin: 10px;
  line-height: 1.25em;
}

.content-copy {

}

.content-copy p {

}

.content-copy h5 {

}



.heading-main {
  font-size: 1.6em;
  display: inline-block;
}

.heading-tagline {
  text-transform: uppercase;
  font-size: .6em;
  line-height: 1.2em;
  margin-left: 5px;
  display: inline-block;
}

.heading-bee {
  font-weight: 100;
  margin: 0px;
  padding: 0px;
}

.heading-club {
  font-weight: 600;
  margin: 0px;
  padding: 0px;
}

.tagline-tilt {
  width: 380px;
}

.tagline-archive {
  font-size: 14pt;
}

/* --------------------- */
/* Content Customization */
/* --------------------- */
div[class^="content home"]{
  background-color: #C2C0BF;
}

div[class^="content about"]{
  background-color: #898989;
}

div[class^="content team"]{
  background-color: #606060;
}

div[class^="content tilt"]{
  background-color: #EF9E7E;
}

div[class^="content archive"]{
  background-color: #FAA22C;
}

div[class^="content scihive"]{
  background-color: #BDCA3A;
}

div[class^="content shareyourscience"]{
  background-color: #A9C3C0;
}

div[class^="content beeclub"]{
  background-color: #EBC478;
}


/* Social hover*/
div[class^="content home"] .circle:hover{
  background-color: #5C5A59;
}

div[class^="content about"] .circle:hover{
  background-color: #232323;
}

div[class^="content team"] .circle:hover{
  background-color: #2D2D2D;
}

div[class^="content tilt"] .circle:hover{
  background-color: #560500;
}

div[class^="content archive"] .circle:hover{
  background-color: #943C00;
}

div[class^="content scihive"] .circle:hover{
  background-color: #576400;
}

div[class^="content shareyourscience"] .circle:hover{
  background-color: #435D5A;
}

div[class^="content beeclub"] .circle:hover{
  background-color: #855E12;
}

/* --------------------------- */
/* Social Media Button Styling */
/* --------------------------- */
.social {
  text-align: right;
  margin: 0px;
  padding: 10px;
}

.social .circle {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  color: snow;
  text-align: center;
  overflow: hidden;
  display: inline-block;
  border: 1px solid white;
}

.social .circle .twitter-logo {
  position: relative;
  height: 25px;
  width: 25px;
  top: 2px;
}

.social .circle .fb-logo {
  position: relative;
  height: 15px;
  width: 15px;
  top: 3px;
}

.social .circle .glyphicon {
  font-size: 16px;
  top: 7px;
}

.nudge-usd{
  top: 15px;
}

/* Join the effort*/
.jointheeffort-social .circle {
  border-radius: 50%;
  margin: 20px;
  width: 110px;
  height: 110px;
  background-color: #2d2d2d;
  color: snow;
  text-align: center;
  overflow: hidden;
  display: inline-block;
  border: 1px solid white;
}

.jointheeffort-social .circle .twitter-logo {
  position: relative;
  height: 90%;
  width: 90%;
  top: 7px;
}

.jointheeffort-social .circle .fb-logo {
  position: relative;
  height: 40%;
  width: 40%;
  top: 30px;
}

.jointheeffort-social .circle .glyphicon {
  font-size: 3.75em;
  top: 25px;
}

/* -------------------- */
/* Circle customization */
/* -------------------- */
.circle:hover{
  background-color: gray;
}

.jointheeffort-social .twitter-circle:hover{
  background-color: lightblue;
}

.jointheeffort-social .fb-circle:hover{
  background-color: darkblue;
}

.jointheeffort-social .email-circle:hover{
  background-color: #AECDBB;
}

/* --------------- */
/* Tabloid Buttons */
/* --------------- */
.tabloid-button{
  border: 4px solid white;
  padding: 5px 10px;
  width: 250px;
  color: white;
  font-size: 1.2em;
  background-color: transparent;
  text-transform: uppercase;
  text-align: center;
  margin: 5px;
}

.tabloid-button:hover{
  background-color: rgba(255, 255, 255, .4);
}

.join-button {
  border: 4px solid white;
  padding: 5px 10px;
  width: 350px;
  color: white;
  font-size: 2em;
  background-color: transparent;
  text-transform: uppercase;
  text-align: center;
  margin: 10px;
}

.join-button:hover{
  background-color: rgba(255, 255, 255, .4);
}

/* ----------- */
/* Tagline Bar */
/* ----------- */
.tagline {
  width: 100%;
  background-color: white;
  color: dimgray;
  padding: 5px 10px;
}

/* --------- */
/* Team Page */
/* --------- */
.profile-picture-row {
  margin-bottom: 10px;
}

.profile-picture-column {
  text-align: center;
  width: 30%;
  display: inline-block;
}

.profile-bio-column {
  width: 70%;
  display: inline-block;
}

.profile-picture-frame{
  border-radius: 50%;
  border: 1px solid white;
  width: 100%;
  overflow: hidden;
  display: inline-block;
}

.profile-picture {
  width: 100%;
}

.team .name{
  font-size: 1.35em;
  font-weight: bolder;
  margin-bottom: 0.05em;
}

.team .role{
  font-size: 1.15em;
  margin-bottom: 0.35em;
}

.team .bio{
  font-size: 1em;
}

/* ----- */
/* Fonts */
/* ----- */

@font-face {
  font-family: muro;
  src: url('../assets/fonts/muro.otf');
}

@font-face {
  font-family: nordica;
  src: url('../assets/fonts/nordica.otf');
}

.muro {
  font-family: muro, "helvetica", "verdana", sans-serif;
}

.nordica {
  font-family: nordica, "helvetica-neue", "georgia", serif;
}
