.hexagons{
  position: relative;
  width: 100%;
  height: 100%;
  padding: 5px;
}

.hexagon-row div:nth-child(2) {
  top: -68px;
  left: -42px;
}

.hexagon-solo-row div:first-child{
  top: -68px;
  left: 116px;
}

.hexagon-row div:nth-child(3) {
  left: -82px;
}

.tile {
  width: 155px;
  height: 135px;
}

.hexagon{
  position: absolute;
  display: inline-block;
  background-repeat: no-repeat;
  background-origin: content-box;
  width: 100px;
  height: 100px;
  background-size: 100% 100%;
}


#hex1{ background-image: url('../assets/tiles/about_base.png'); }
#hex1:hover{ background-image: url('../assets/tiles/about_hover.png'); }

#hex2{ background-image: url('../assets/tiles/archive_base.png'); }
#hex2:hover{ background-image: url('../assets/tiles/archive_hover.png'); }

#hex3{ background-image: url('../assets/tiles/beeclub_base.png'); }
#hex3:hover{ background-image: url('../assets/tiles/beeclub_hover.png'); }

#hex4{ background-image: url('../assets/tiles/scihive_base.png'); }
#hex4:hover{ background-image: url('../assets/tiles/scihive_hover.png'); }

#hex5{ background-image: url('../assets/tiles/shareyourscience_base.png'); }
#hex5:hover{ background-image: url('../assets/tiles/shareyourscience_hover.png'); }

#hex6{ background-image: url('../assets/tiles/team_base.png'); }
#hex6:hover{ background-image: url('../assets/tiles/team_hover.png'); }

#hex7{ background-image: url('../assets/tiles/tilt_base.png'); }
#hex7:hover{ background-image: url('../assets/tiles/tilt_hover.png'); }
