#jointheeffort-container {
  /*border: 1px solid blue;*/
  float: left;
  color: black;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-bottom: 20px;
}

.jointheeffort-gray-section {
  background-color: gray;
  padding: 15px;
}

#jointheeffort-getinvolved-section {
  padding: 15px;
}

#jointheeffort-getinvolved-section .item {
  margin-bottom: 20px;
}

#jointheeffort-contact-section {
  text-align: center;
}

#jointheeffort-section h1 {
  color: white;
  text-align: center;
}

#jointheeffort-section h3 {
  color: white;
  text-align: center;
}

#jointheeffort-section h2 {
  color: #2D2D2D;
  text-align: center;
}

#jointheeffort-section h4 {
  color: #2D2D2D;
  text-align: center;
  text-transform: uppercase;
}

#jointheeffort-section h5 {
  color: #2D2D2D;
  text-transform: uppercase;
  margin: 0px;
  padding: 0px;
  margin-bottom: 5px;
}

#jointheeffort-getinvolved-section .item .picture {
  padding: 20px;
}

#jointheeffort-getinvolved-section .item .picture img {
  width: 100%;
  max-width: 180px;
}

#jointheeffort-getinvolved-section .item .text {
  padding: 20px;
}

#jointheeffort-getinvolved-section ul {
  margin-left: 0px;
  padding-left: 15px;
}
