/* ------- */
/* Overall */
/* ------- */
.text-align-center {
  text-align: center;
}

.text-align-right {
  text-align: right;
}

.color-light-gray {
  color: #9D9D9D;
}

.color-medium-gray {
  color: #888888;
}

.color-dark-gray {
  color: #2D2D2D;
}

.color-pale-orange {
  color: #FFD59A;
}

.color-pale-gold {
  color: #E2C46F;
}

.color-dark-gold {
  color: #B7A87F;
}

.color-pale-teal {
  color: #AECDBB;
}

.color-pale-turquoise {
  color: #80CDC2;
}

.color-pale-green {
  color: #AFC179;
}

.color-pale-pink {
  color: #D3B1A7;
}

.color-pale-red {
  color: #EF9E7E;
}

.color-vibrant-orange {
  color: #FAA32C;
}

.inline-block {
  display: inline-block;
}

/* ------------ */
/* Font Weights */
/* ------------ */
.font-weight-light {
  font-weight: 100;
}

.font-weight-medium {
  font-weight: 400;
}

.font-weight-heavy {
  font-weight: 800;
}

#tabloid-container {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
  /*padding-top: 20px;*/
  padding-bottom: 20px;
  min-height: 100%;
  color: black;
  /*border: 1px solid black;*/
}


/* ------- */
/* Borders */
/* ------- */
.dashed-gray-border-top {
  border-top: 3pt #2D2D2D dashed;
}

.dashed-gray-border-bottom {
  border-bottom: 3pt #2D2D2D dashed;
}

.dashed-gray-border-left {
  border-left: 3pt #2D2D2D dashed;
}

.dashed-gray-border-right {
  border-right: 3pt #2D2D2D dashed;
}

.dashed-green-border-left {
  border-left: 2pt #AFC179 dashed;
}

.dashed-blue-border-left {
  border-left: 3pt #AECDBB dashed;
}

.touching-title {
  margin-bottom: -7px;
}


/* ------------ */
/* Home/Mission */
/* ------------ */

.mission-blurb-text {
  font-weight: 200;
  font-size: 1.2em;
}

.subparagraph {
  font-size: .9em;
  padding: 10px 20px;
}


/* Mission Statement Pt 1 */
#mission-tabloid-bigwords-part1 {
  font-size: 10em;
  line-height: 1em;
  float: left;
  font-weight: 900;
  margin: 5px;
}

#mission-tabloid-bigwords-part2 {
  font-size: 4em;
  line-height: 1em;
  font-weight: 800;
  float: left;
  margin: 5px;
}

#mission-tabloid-bigwords-part3 {
  font-size: 2.5em;
  line-height: 1em;
  font-weight: 800;
  float: left;
  margin: 5px;
}

#mission-tabloid-quick-look{
  font-size: 2em;
  font-weight: 600;
  color: gray;
  margin-bottom: 30px;
}

/* Mission Statement Pt 2 */
#mission-tabloid-statement-pt2 {
  margin-top: 30px;
}

#mission-tabloid-statement-pt2 .graphic{
  float: left;
  width: 45%;
}

#mission-tabloid-statement-pt2 .graphic img{
  width: 100%;
}

#mission-tabloid-statement-pt2 .pt1 {
  font-size: 3.5vw;
  font-weight: 600;
  line-height: 1.25em;
  margin: 10px;
}

#mission-tabloid-statement-pt2 .pt2 {
  font-size: 2.75vw;
  font-weight: 600;
  line-height: 1.25em;
  margin: 10px;
}

#mission-tabloid-statement-pt2 .pt3 {
  font-size: 10vw;
  font-weight: 800;
  line-height: 1.25em;
  margin: 10px;
}

#mission-tabloid-statement-pt2 .pt4 {
  font-size: 7.5vw;
  font-weight: 800;
  line-height: 1em;
  margin: 10px;
}



/* ----------------- */
/* Mission Statement */
/* ----------------- */

.mission-engine-stripe {
  width: 100%;
  background-color: #AECDBB;
  padding: 15px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 20px;
  font-size: 1.8em;
  font-weight: 900;
  margin: 30px 0px;
}

#mission-tabloid-engine .col-sm-4 {
  padding-bottom:30px;
}

#mission-tabloid-engine .image {
  padding: 20px;
}

img.tabloid-home-engine {
  width: 75%;
}

.mission-separator {
  background-color: #888888;
  height: 20px;
  width: 95%;
  border-radius: 10px;
  margin-left: 2.5%;
  margin-right: 2.5%;
  margin-top: 20px;
  margin-bottom: 20px;
}

/* ------------------ */
/* Dual-Color Headers */
/* ------------------ */
.mission-tabloid-dual-header {
  font-weight: 900;
  line-height: 1em;
  font-size: 4em;
  margin: 20px 0px;
}

#mission-tabloid-projects .mission-tabloid-dual-header {
  margin-bottom: 0px;
}
#mission-tabloid-clicklogos {
  font-size: 2em;
}

/* -------- */
/* Projects */
/* -------- */
.mission-projects-item {
  margin-top: 30px;
}

.mission-projects-blurb {
  border-left: 1px black dashed;
}

.mission-projects-hexagon {
  padding: 10px;
  text-align: center;
}

.mission-projects-hexagon img {
  max-width: 180px;
  width: 100%;
}

/* ---------- */
/* Philosophy */
/* ---------- */
.mission-philosophy-item .picture {
  padding: 20px;
}

.mission-philosophy-item .picture img {
  max-width: 120px;
  width: 100%;
}

.mission-philosophy-item .text {
  border-left: 2px teal dashed;
}

/* ------------ */
/* Nitty Gritty */
/* ------------ */
.tabloid-home-splash {
  padding: 20px;
}

.tabloid-home-splash img {
  width: 100%;
}

/* ---------- */
/* Two Column */
/* ---------- */
#mission-tabloid-access-bias {
  margin-top: 30px;
  padding-bottom: 35px;
}

#mission-tabloid-postscript {
  padding: 30px;
}

#mission-tabloid-access-bias .picture {
  padding: 30px 20px;
}

#mission-tabloid-access-bias img {
  width: 100%;
}

/* ------------ */
/* Three Column */
/* ------------ */
.mission-identity-column {
  padding: 0px;
}

.mission-identity-column .text {
  padding: 20px;
}

.mission-identity-column .header {
  /*background-color: #E8EAE4;*/
  padding: 20px;
  margin-bottom: 20px;
  font-size: 1.6em;
  background-color: #EEEEEE;
}

.mission-identity-column .header > .heavy {
  font-weight: 400;
  color: #2D2D2D;
  display: inline-block;
}

.mission-identity-column .header > .light {
  font-weight: 100;
  color: gray;
  display: inline-block;
}

.mission-identity-column > .image {
  padding: 20px;
}

.mission-identity-column .image img {
  width: 100%;
}


/* ---- */
/* A, B */
/* ---- */
#mission-tabloid-access-bias .header {
  margin: 10px 0px;
  width: 100%;
  font-size: 36pt;
}

#mission-tabloid-access-bias .col-sm-6 {
  margin: 0px;
  padding: 0px;
}

#mission-tabloid-access-bias .text {
  padding: 20px;
}

/* ------- */
/* C, D, E */
/* ------- */
.mission-cde-header {
  font-weight: 100;
  font-size: 48pt;
  padding: 35px 20px;
  margin-bottom: 30px;
}

#mission-tabloid-threecolumn .mission-identity-column-text {
  padding-top: 30px;
  padding-bottom: 60px;
}

#mission-tabloid-collaboration, #mission-tabloid-design, #mission-tabloid-evidence {
  padding-bottom: 40px;
}

#mission-tabloid-collaboration .image {
  padding: 20px;
}

#mission-tabloid-collaboration .image img{
  width: 100%;
}

.mission-cde-fullwidth-image {
  padding: 20px;
}

.mission-cde-fullwidth-image img {
  width: 100%;
  max-width: 800px;
}
