.nav {
  width: 100%;
  background-color: get-color(silver1);
  box-shadow: inset 0 -48px 0 0 get-color(silver2);
  height: 78px;
  display: block;
  a {
    text-decoration: none;
  }

}

.nav__logo {
  width: 152px;
  margin: 18px 0;
}

.nav__tagline {
  margin: 0;
  position: absolute;
  left: 0;
  bottom: -10px;
  width: 132px;
  border: 1px solid get-color(gray2);
  border-width: 1px 0 2px 0;
  height: 5px;
  text-indent: 140px;
  white-space: pre;
  line-height: 5px;
}

.nav__menu {
  list-style: none;
  height: 34px;
  background-color: white;
  border: 1px solid get-color(gray3);
  border-radius: 2px;
  margin: 22px 0;
  padding: 0;
  width: calc(100% - 191px);
  float: right;
}

.nav__menu-item a {
  float: left;
  width: calc( 100% / 6 );
  line-height: 32px;
  color: get-color(gray3);
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  font-size: 1.6rem;
}
