@import "./lib/normalize";

@font-face {
  font-family: muro;
  src: url('../assets/fonts/muro.otf');
}

html {
  font-family: 'Source Sans Pro', sans-serif;
  background-color: get-color(silver1);
  font-size: 10px;
}

* {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "muro", sans-serif;
  letter-spacing: 2px;
  font-weight: normal;
  margin: 0;
}

p {
  font-size: 1.6rem;
  margin-top: 0;
  margin-bottom: 2.4rem;
}

h1 {
  font-size: 4.2rem;
}

h2 {
  font-size: 3.8rem;
}

h3 {
  font-size: 3.4rem;
}

h4 {
  font-size: 3.0rem;
}

h5 {
  font-size: 2.7rem;
}

h6 {
  font-size: 2.0rem;
}

.u-grid-canvas {
  @include grid-canvas();
}

.u-grid-12 {
  @include grid(12);
}

.u-grid-last {
  margin-left: 0;
}

.t-center{
  text-align: center;
}

.t-white55 {
  color: rgba(255, 255, 255, .55);
}

@each $name, $value in $COLORS {
  .t-#{$name} {
    color: $value;
  }
  .bg-#{$name} {
    background-color: $value;
  }
}

.t-13dp {
  font-size: 1.3rem;
  letter-spacing: 1px;
}
.t-16dp {
  font-size: 1.8rem;
}
.t-18dp {
  font-size: 1.8rem;
}

.t-24dp {
  font-size: 2.4rem;
}

.t-42dp {
  font-size: 4.2rem;
}

.t-156dp {
  font-size: 15.6rem;
  margin-bottom: -28px;
}


.vs-0dp {
  margin-bottom: 0px;
}
.vs-8dp {
  margin-bottom: 8px;
}
.vs-16dp {
  margin-bottom: 16px;
}
.vs-32dp {
  margin-bottom: 32px;
}

.t-sans {
  font-family: 'Source Sans Pro', sans-serif;
}
